/*: Base Reset and Normalize Styles */

[id] {
  scroll-margin-top: 2ex;
}

section {
  padding-top: 4.5rem; /* 72px */
  padding-bottom: 1.25rem; /* 20px */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main {
  overflow-x: hidden;
}

.ri-arrow-right-line {
  color: var(--white-color);
}

.scroll-title {
  background: var(--body-color);
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.mainBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1370px;
  position: relative;
}

.section_Box {
  width: 100%;
  margin: 0 auto;
}

.flex_Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



