/*: HEADER Component Styles */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-header);
}

/*: Navigation menu */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--color-logo);
  text-transform: uppercase;
  font-size: var(--exception-font-size);
}
.nav__logo span {
  color: var(--color-logo);
  font-size: var(--step-0);
  font-style: italic;
}
.nav__logo small {
  font-size: var(--step--5);
  font-family: "Roboto";
}
.nav__menu {
  position: relative;
}
.nav__list {
  display: flex;
  height: 100%;
}
.nav__link {
  font-size: var(--normal-font-size);
  margin: 0 10px;
  color: var(--color-logo);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-texto);
}
.nav__link:hover {
  opacity: 0.5;
}
.nav__toggle,
.nav__close {
  display: none;
}
.nav-dark {
  position: initial;
}
.change-theme-name {
  display: none;
}
.change-theme {
  color: var(--text-color);
}

/*: Button Dark/Light theme */
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--color-logo);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*! Estilos Responsive Design para disposivos "Smartphone o iPad" solamente!!! */
@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: var(--h2-font-size);
    color: var(--color-logo);
  }
  .nav__logo span {
    font-size: var(--minimal-font-size);
    color: var(--color-logo);
  }
  .nav__menu {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    width: 65%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 1s;
    right: -100%;
    transition: 0.4s;
  }

  .nav {
    padding: 0 20px;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--color-logo);
    cursor: pointer;
  }
  .nav__toggle {
    display: block;
    color: var(--color-logo);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    cursor: pointer;
  }
  .show-menu {
    right: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .nav__link {
    color: var(--color-logo);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    margin: 0 10px;
  }
  .nav__link:hover {
    opacity: 0.65;
  }
}

/*: Change background header JS function */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}
.scroll-header .nav__logo {
  color: var(--color-logo);
}
.scroll-header .nav__logo span {
  color: var(--color-logo);
}
.scroll-header .nav__toggle {
  color: var(--color-logo);
}
.scroll-header .nav__link {
  color: var(--color-logo);
}
.scroll-header .nav__link:hover {
  opacity: 0.65;
}
.scroll-header .change-theme {
  color: var(--color-logo);
}



