/*: Social Icons Component Styles */

.social_Icon {
  position: fixed;
  display: block;
  top: 225px;
  right: 10px;
  z-index: 10;
}
.social_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 25px;
  height: 25px;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_Icon_Link {
  text-decoration: none;
}
.social_Icon .fab.fa-twitter {
  color: var(--color-twitter);
}
.social_Icon .fab.fa-instagram {
  font-size: 2em;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 60px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

/*: Icono de whatsapp    */

.banner_Icon {
  position: fixed;
  top: 72%;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.banner_Icon [class*="fa-"] {
  margin: 0 0 40px 0;
  width: 35px;
  height: 35px;
  font-size: 2em;
  color: var(--color-whatsapp);
}

.banner_Icon [class*="fa-"]:hover {
  transform: scale(1.4);
  transition: all 0.75s;
}

.whatsapp_Texto span {
  position: fixed;
  top: 80%;
  right: 5px;
  width: 140px;
  background-color: var(--color-whatsapp);
  color: var(--white-color);
  padding: 5px 0;
  border-radius: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 10;
}

.whatsapp_Texto:hover span {
  opacity: 1;
  visibility: visible;
}
/*! Media queries & Responsive Design -Social Icons   */
@media screen and (max-width: 1024px) {
  .banner_Icon {
    top: 470px;
    right: 15px;
  }
  .whatsapp_Texto span {
    top: 520px;
    right: 45px;
  }
}

@media screen and (max-width: 414px) {
  .banner_Icon {
    top: 490px;
    right: 15px;
  }
  .whatsapp_Texto span {
    top: 540px;
    right: 45px;
  }
}


